body {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: peachpuff;
    /* align-items: center; */
}

canvas {
    position: absolute;
}

#yellow {
    position: absolute;
    background-color: yellow;
    opacity: 0.5;
    height: 170px;
    width: 170px;
    top: 7%;
    left: 27%;
}

#blue {
    position: absolute;
    background-color: blue;
    opacity: 0.5;
    height: 170px;
    width: 170px;
    top: 7%;
    right: 27%;
}

#green {
    position: absolute;
    background-color: green;
    opacity: 0.5;
    height: 170px;
    width: 170px;
    bottom: 30%;
    left: 27%;
}

#red {
    position: absolute;
    background-color: red;
    opacity: 0.5;
    height: 170px;
    width: 170px;
    bottom: 30%;
    right: 27%;
}

@media screen and (max-width: 1100px) {
    #yellow, #green {
        left: 18%;
    }
    #blue, #red {
        right: 18%;
    }
}

@media screen and (min-width: 0px) and (max-width: 590px) {
    #yellow, #green {
        left: 2%;
        height: 140px;
        width: 130px;
    }
    #blue, #red {
        right: 2%;
        height: 140px;
        width: 130px;
    }
    #red, #green {
        bottom: 32%;
    }
}

@media screen and (min-width: 0px) and (max-width: 750px) {
    #yellow, #green {
        left: 2%;
        height: 140px;
        width: 150px;
    }
    #blue, #red {
        right: 2%;
        height: 140px;
        width: 150px;
    }

    #red, #green {
        bottom: 32%;
    }
}